.DataUncentinityPlotMain{
    width: 100%;
}

.PlotHeaderDataUncentinity{
    width: 100%;
    margin-bottom: 10px;
}

.HeadNameDataUncentinity{
    width: 100%;
}

.PlotSurroundingsDataUncentinityMain{
    padding: 15px 7px;
}