.loadeffectsMain{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.roatatingContHoldr{
    width: 60px;
    height: 60px;
}

.dotscontainerload{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.circleloadGrean{
    width: 45px;
    height: 45px;
    border: 3px solid #8fc9f1;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    50% {transform: rotate(180deg); }
    100% { transform: rotate(360deg);}
  }
.dotesload{
    width: 6px;
    height: 6px;
    background-color: #0ca98f;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 3px);
}
.dotoneload{
    left:11px
}

.dottwoload{
    right: 11px;
}