.TextInputBlockMain{
    width: 100%;
    margin-bottom: 10px;
}

.InputnameTextInputBlock{
    padding-bottom: 5px;
    font-weight: 500;
}

.InputTextInputBlock{
    height: 45px;
    width: 100%;
    border-radius: 7px;
    border: 1px solid #8EC9F1;
    padding-left: 10px;
    padding-right: 5px;
}

.errorInput{
    border: 1px solid #ff3636;
}

.passShowButton{
    position: absolute;
    right: 1px;
    bottom: 7.5px;
    height: 30px;
    background-color: transparent;
    z-index: 2;
}