.DataPlotNHistoryMain{
    width: 100%;
    min-height: 350px;
}

.HistorySectionDtHSt{
    width: 100%;
    margin-bottom: 30px;
    background-color: #fff;
}

.DataPlotDTHist{
    width: 100%;
    background-color: #fff;
}