.DashMain{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.DashContHolder{
    width: 45%;
    min-width: 350px;
}

.leftSectDash{
    /* width: calc(50% - 7px); */
    width: 100%;
    min-width: 350px;
}

.RightSectDash{
    /* width: calc(50% - 7px); */
    width: 100%;
    min-width: 350px;
}

.NewtworkGraphContHolder{
    width: 53%;
    /* padding: 10px 0; */
}