.DashMain{
    width: 100%;
}

.DashContHolder{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.leftSectDash{
    width: calc(50% - 7px);
    min-width: 350px;
}

.RightSectDash{
    width: calc(50% - 7px);
    min-width: 350px;
}

.NewtworkGraphContHolder{
    width: 100%;
    padding: 10px 0;
    margin-top: 40px;
}