.DashMain{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.DashContHolder{
    width: 100%;
    min-width: 500px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.leftSectDash{
    /* width: calc(50% - 7px); */
    width: 50%;
    min-width: 350px;
}

.RightSectDash{
    /* width: calc(50% - 7px); */
    width: 50%;
    min-width: 350px;
}

.NewtworkGraphContHolder{
    width: 100%;
    /* padding: 10px 0; */
}