.AppMain{
    width: 100%;
    min-width: 100%;
    min-height: 100vh;
    padding: 0 10px;
}

.AllAppHolder{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.SidePanelAppMain{
    width: 300px;
    margin: 20px 30px 20px 15px;
    height: 100%;
}

.StagnatSectionSideNavAppMain{
    width: 300px;
    z-index: 300;
    margin-top: 60px;
    left: 0px;
    position: fixed;
}

.GraphsNtopNavAppMain{
    width: calc(100% - 0px);
    margin: 0px 15px 20px 5px;
}

.TopNavAppMain{
    width: 100%;
    margin-bottom: 0px;
}

.TopNavSectionFixedPos{
    position: fixed;
    top: 0px;
    right: 0px;
    width: calc(100% - 0px);
    z-index: 300;
}


.GraphsNContentSect{
    padding-top: 70px;
}

.BottomPerformanceOverViewAppMain{
    width: 100%;
    padding: 0 20px;
    background-color: #fff;
}


.PopUpHolderDiv{
    width: 100vw;
    height: 100vh;
    background-color: rgba(19, 17, 38, 0.76);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 400;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: none;
}

.OpenKeyButtonHolder{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.GraphKeyToggleButton{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.GraphKeyToggleButton span{
    font-size: 32px;
    color: #3b5998;
}

.KeyHolderForShowAndHide{
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: calc(100% - 0px);
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
}

.CloseButtonHolderNControls{
    width: 100%;
    height: 30px;
}

.GraphHideKey{
    position: absolute;
    top: -5px;
    right: 0;
    z-index: 2;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.GraphHideKey span{
    font-size: 32px;
}
.GraphHideKey span:hover{
    color: #ff3636;
}