*{
  box-sizing: border-box;
  outline: none;
}
html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
  color: #1A120B;
}

h1,h2,h3,h4, h5, h6{
  margin: 2px;
  font-family: Helvetica;
  color: #1A120B;
}

h1, h2{
  font-family: Helvetica;
}
a{
  background-color: transparent;
  text-decoration: none;
  color: #000;
}
select{
  -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 25px;
    background: url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIPnI+py+0/hJzz0IruwjsVADs=);
    background-repeat: repeat;
    background-repeat: no-repeat;
    background-position: 95% 42%;
}

button{
  background-color: #b6d5f2;
  font-size: 17px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all .3s ease-out;
  font-family: Helvetica;
  font-weight: 500;
  color: #1A120B;
} 

.blue-background{
  background-color: #b6d5f2 !important;
}
/* #8fc9f1 */
.colorBlueText{
  color: #7fb1f3;
}

button:hover{
  -webkit-transform: scale(1.03,1);
  -moz-transform: scale(1.03,1);
  transform: scale(1.03, 1);
}

body {
  margin: 0;
  font-family: Helvetica, -apple-system , 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
}

div{
  display: block;
  position: relative;
  height: auto;
  font-family: Helvetica;
  color: #1A120B;
}

/* colors */

.mainBackGround {
  background-color:#E4E4E4;
}

.inputBg {
  background-color: #bbbdc9;
}

.mainBlueBtnBg {
  background-color: #b6d5f2;
}

.textColorBold {
  color: #585763;
}

.textColorNormal {
  color: #1A120B;
}

.lightGrayColor {
  background-color: #f0efef;
}

.activeText {
  color: #61DAFB !important;
  font-weight: 500 !important;
}

.SpaceTopMargin{
  margin-top: 20px;
}

.KeyIconHolderAll span {
  font-size: 30px;
  color: #515151;
}

.ButtonsNSliderALL{
  width: 100px;
  display: flex;
  align-items: center;
  align-content: space-between;
  flex-wrap: wrap;
}

.SliderHolderAll{
  width: 100%;
  max-width: 200px;
  margin-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ValueSliderDisp{
  width: 100%;
  margin-bottom: 5px;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.SliderOnlyHolder{
  width: 100px;
}